{{>layout/header}}
<h1>게시글 등록</h1>
<div>
    <div style="width:80%; margin: 0 auto">
        <form>
            <div style="flex-direction:column; display:flex">
                <label for="title" style="width:20%; height:20px">제목</label>
                <input type="text" id="title" style="width:80%; height:30px; margin-top: 10px" placeholder="제목을 입력하세요">
            </div>
            <div style="flex-direction:column; display:flex">
                <label for="author" style="width:20%; height:20px">작성자</label>
                <input type="text" id="author" style="width:80%; height:30px; margin-top: 10px" placeholder="작성자를 입력하세요">
            </div>
            <div style="flex-direction:column; display:flex">
                <label for="content" style="width:20%; height:20px">내용</label>
                <textarea type="text" id="content" style="width:80%; height:30px; margin-top: 10px" placeholder="내용을 입력하세요"></textarea>
            </div>
        </form>
        <a href="/" role="button" style="width:10%; margin: 0 auto; margin-top: 10px; background-color: lightblue; padding-left: 20px; padding-right: 20px; padding-top: 2px; padding-bottom: 2px; border-radius: 2px;">취소</a>
        <button type="button" id="btn-save" style="width:10%; margin: 0 auto; margin-top: 10px">등록</button>
    </div>
</div>
{{>layout/footer}}